body {
   background:url('./backgrounds/background_flatirons.jpg') no-repeat;
   background-size:cover;
   
}

p{

line-height:.75;
font-size:1em;
}

textarea{
    background-color:#c6bb71;
    opacity:0.85;
    border:none;
    height:150px;
    margin-bottom:20px;
    border: solid rgba(0,0,0,0) 5px;
    color:white;
    font-family:KGNexttoMeSolid;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

textarea:hover{
    background-color:#b4aa67;
}

textarea:focus{
    background-color:#a89e5c;
    border: solid rgba(0,200,0,0.3) 5px;
    outline:none;
}
.contactLink{
    color:white !important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    padding:10px;
}
.contactLink:hover{
    color:#b28e8e !important;
}

.tdContact{
    overflow:no-content;
    vertical-align:top;
}

#btnContactSubmit{

    display:block;
    background-color:#83bf55;
    border:none;
    font-size:4em;
    font-family:Songbird;
    padding:0px 10px 5px 10px;
    letter-spacing:3px;
    color:white;
    border-radius:7px;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

}
 
#btnContactSubmit:hover{
    background-color:#659740;
    cursor:pointer;
}   

